# ── Servidor ────
PORT=3000
NODE_ENV=development

# ── Base de datos PostgreSQL ──────
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=admin
DATABASE_PASS=root
DATABASE_NAME=omc_leads

# ── JWT ─────
JWT_SECRET=

# ── Groq ─────
GROQ_API_KEY=gsk...
GROQ_MODEL=llama-3.3-70b-versatile